.title-text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline;
    margin: 0.5rem 0;
    text-align: center;
  }

  .root-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.4fr auto;
    position: relative;
  }

  /*Header*/
.main-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }

  .main-container-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    background: white;
    transition: opacity 300ms linear;
  }